@use 'sass:color';
@use '../../styles/variables';
$value: 20%;
$icoLightnes: 80%;

.container {
  display: flex;
  color: color.scale(variables.$fontColor, $lightness: $icoLightnes);
  gap: 4px;
}
.ico {
  fill: currentColor;
  height: 15px;
  width: auto;
}
.icoDiv {
  position: relative;
  cursor: pointer;
  &:hover .platformsList {
    transform: scale(1);
    opacity: 1;
    z-index: 100;
  }
}
.platformsList {
  transform: scale(0);
  min-width: 8em;
  list-style: none;
  opacity: 0;
  pointer-events: none;
  font-size: 0.7em;
  transition:
    transform 0.2s ease,
    opacity 0.2s ease;
  position: absolute;
  padding: 5px 0px;
  bottom: 1em;
  z-index: 50;
  left: 0;
  background-color: color.scale(variables.$generalColor, $lightness: $value);
  border: 1px solid rgb(255, 255, 255, 0.2);
  border-radius: 0.5em;
  color: #ffff;
  margin-right: 5px;
}
