.container {
  padding-left: 10px;
  display: flex;
  gap: 4px;
}
.ico {
  fill: white;
  height: 15px;
  width: auto;
}
.icoDiv {
  position: relative;
  &:hover .platformsList {
    transform: scale(1);
    opacity: 1;
    z-index: 100;
  }
}
.platformsList {
  transform: scale(0);
  min-width: 10em;
  list-style: none;
  opacity: 0;
  pointer-events: none;
  font-size: 0.7em;
  transition:
    transform 0.2s ease,
    opacity 0.2s ease;
  position: absolute;
  padding: 5px 10px;
  bottom: 1em;
  left: 0;
  background-color: #808080;
  border: 1px solid rgb(255, 255, 255, 0.2);
  border-radius: 0.5em;
  color: #ffff;
}
