@use '../../shared/styles/variables';
@use 'sass:color';

.container {
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.base {
  background: color.scale(variables.$generalColor, $lightness: 5%);
  transition: box-shadow 0.3s ease;
  border: 1px solid rgb(255, 255, 255, 0.1);
  height: 50px;
}
.active {
  box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.2);
  border: 1px solid rgb(255, 255, 255, 0.2);
}
.textInput {
  width: 800px;
  padding: 10px 10px;
  box-sizing: border-box;
}
.buttonInput {
  text-align: center;
  width: 100px;
  transition: box-shadow 0.5s linear;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.2);
    border: 1px solid rgb(255, 255, 255, 0.2);
  }
}
@media (max-width: 1200px) {
  .textInput {
    width: 600px;
    font-size: 15px;
  }
  .buttonInput {
    width: 75px;
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  .textInput {
    width: 450px;
    font-size: 12px;
  }
  .buttonInput {
    width: 75px;
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .textInput {
    width: 300px;
  }
  .buttonInput {
    width: 60px;
  }
}
@media (max-width: 576px) {
  .textInput {
    min-width: 250px;
  }
  .buttonInput {
    font-size: 10px;
    min-width: 60px;
  }
}
