@use 'sass:color';
@use '../../shared/styles/variables';
$value: 80%;
$buttonWidth: 30px;
$butonHoveColor: 12%;

.container {
  height: 100%;
  padding-left: 1em;
  padding-right: 1em;
  overflow: hidden;
  position: relative;
  height: 450px;
}
.cardsBlock {
  display: flex;
  box-sizing: border-box;
  padding-left: 1.3em;
  padding-bottom: 9px;
  overflow-y: hidden;
  flex-direction: row;
  overflow-y: hidden;
  flex-wrap: nowrap;
  scrollbar-width: none;
  gap: 1em;
  &::-webkit-scrollbar {
    display: none;
  }
}
.blockTitle {
  font-size: 20px;
  margin-top: 25px;
  color: color.scale(variables.$fontColor, $lightness: $value);
  padding-left: 30px;
}
.baseButtonClass {
  position: absolute;
  top: 1em;
  bottom: 1em;
  background-color: variables.$generalColor;
  width: $buttonWidth;
  transition: background-color 0.5s ease;
  z-index: 10;
  &:hover {
    background-color: color.scale(
      variables.$generalColor,
      $lightness: $butonHoveColor
    );
  }
}
.buttonLeft {
  left: 0;
  border-top-right-radius: 1em;
  border-right: 1px solid rgb(255, 255, 255, 0.3);
  border-bottom-right-radius: 1em;
}
.buttonRight {
  border-left: 1px solid rgb(255, 255, 255, 0.3);
  right: 0;
  background-color: variables.$generalColor;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}

@media (max-width: 1200px) {
  .container {
    height: 425px;
  }
}
@media (max-width: 992px) {
  .blockTitle {
    font-size: 17px;
  }
  .container {
    height: 400px;
  }
}
@media (max-width: 768px) {
  .blockTitle {
    margin-top: 20px;
    font-size: 15px;
  }
  .container {
    height: 325px;
  }
}
