@use 'sass:color';
@use '../../shared/styles/variables';
$value: 80%;
$buttonWidth: 30px;
$butonHoveColor: 12%;

.container {
  height: 100%;
  padding-left: 1em;
  padding-right: 1em;
  overflow: hidden;
  position: relative;
}
.cardsBlock {
  display: flex;
  box-sizing: border-box;
  padding-left: 1.3em;
  padding-bottom: 9px;
  overflow-y: hidden;
  flex-direction: row;
  overflow-y: hidden;
  flex-wrap: nowrap;
  scrollbar-width: none;
  gap: 1em;
  &::-webkit-scrollbar {
    display: none;
  }
}
.blockTitle {
  font-size: 1.5rem;
  color: color.scale(variables.$fontColor, $lightness: $value);
  padding-left: 30px;
}
.buttonLeft {
  position: absolute;
  top: 1em;
  bottom: 1em;
  left: 0;
  background-color: variables.$generalColor;
  z-index: 10;
  width: $buttonWidth;
  transition: background-color 0.5s ease;
  border-top-right-radius: 1em;
  border-right: 1px solid rgb(255, 255, 255, 0.3);
  border-bottom-right-radius: 1em;
  &:hover {
  background-color: color.scale(variables.$generalColor, $lightness: $butonHoveColor);
  }
}
.buttonRight {
  position: absolute;
  top: 1em;
  bottom: 1em;
  width: $buttonWidth;
  border-left: 1px solid rgb(255, 255, 255, 0.3);
  right: 0;
  background-color: variables.$generalColor;
  z-index: 10;
  transition: background-color 0.5s ease;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  &:hover {
  background-color: color.scale(variables.$generalColor, $lightness: $butonHoveColor);
  }
}
