@use 'sass:color';
@use '../../shared/styles/variables';
$value: 3%;

.gameCard {
  margin-top: 5px;
  background-color: color.scale(variables.$generalColor, $lightness: $value);
  box-shadow: -1px 4px 8px 0px rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  cursor: pointer;
  flex: 0 0 300px;
  height: 350px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  &:hover {
    box-shadow: -1px 4px 8px 0px rgba(255, 255, 255, 0.4);
  }
  &:hover .cardImage {
    filter: contrast(1);
  }
  &:hover(:not) {
    filter: contrast(0);
  }
}
.cardImage {
  width: 100%;
  height: 70%;
  filter: contrast(0.6) brightness(0.9);
  object-fit: cover;
  border-bottom: 1px solid rgb(255, 255, 255, 0.5);
  transition: filter 0.5s ease;
}
.cardTitle {
  font-size: 0.9rem;
  padding-left: 10px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 4px;
}
.gameDetails {
  padding-left: 10px;
  font-weight: normal;
  padding-bottom: 4px;
  margin: 0;
}
.iconsDetails {
  padding: 0 5px 0 10px;
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.genres {
  padding-left: 10px;
  display: flex;
  font-style: italic;
  font-size: 0.8em;
  padding-bottom: 5px;
  flex-direction: row;
  & > * {
    padding-left: 2px;
  }
}
